<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <h3 style="color:white;">设备管理系统</h3>
            </li>

            <li id="first" class='active'>
                <a href="#springUrl('/depot/list')">
                    库存管理
                </a>
            </li>

            <li id="second" >
                <a href="#springUrl('/user/list')">
                    用户管理
                </a>
            </li>

            <li id="third">
                <a href="#springUrl('/receive/list')">
                   我的资产
                </a>
            </li>
             <li id="fourth">
                 <a href="#springUrl('/repair/list')">设备维修</a>

            </li>
            <li id="fifth">
                <a href="#springUrl('/repair/callList')">报修记录</a>
            </li>
            <li id="sixth">
                <a href="#springUrl('/repair/repairList')">维修记录</a>
            </li>
        </ul>
    </div>
</nav>
#override("js")
<script src="#springUrl('/static/plugins/layer-v2.2/layer/layer.js')"></script>

#end
