#override("title")
SpringMVC - 库存管理
#end
#override("css")
<link href="#springUrl('/static/css/plugins/bootstrap-table/bootstrap-table.min.css')" rel="stylesheet">
#end
#override("breadcrumb")
<li><a>设备管理</a></li><li class="active"><strong>库存管理</strong></li>
#end
#override("content")
<div class="row">
    <div class="ibox-content text-right form-inline" style="background: #F3F3F4;">
        <div class="input-group">
            <input type="text" name="word" id="word"  class="form-control">
            <span class="input-group-btn">
				<button type="button" onClick="Search()"  class="btn btn-info">搜索</button>
			</span>
        </div>
        <button class="btn btn-primary" onclick="editDepot(null)" type="button">
            <i class="fa fa-pencil"></i>&nbsp;添加设备</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table id="dataTable"></table>
    </div>
</div>
#end
#override("js")
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js')"></script>
<script src="#springUrl('/static/plugins/layer-v2.2/layer/layer.js')"></script>
<script src="#springUrl('/static/js/base_list.js')"></script>
<script src="#springUrl('/static/js/common.js')"></script>
<script type="text/javascript">
    var dataUrl = "#springUrl('/depot/getDepotList.html')";
    var dataColumns = [{
        field: 'dId',
        title: '序号'
    }, {
        field: 'uId',
        title: '管理员'
    }, {
        field: 'deviceId',
        title: '设备编号'
    }, {
        field: 'deviceName',
        title: '设备名称'
    }, {
        field: 'deviceType',
        title: '设备类型'
    }, {
        field: 'configuration',
        title: '配置'
    }, {
        field: 'amount',
        title: '数量'
    }, {
        field: 'addTime',
        title: '添加时间',
        formatter: function (value, row, index) {
            return formatDate(row.addTime);
        }
    }, {
        field: 'editTime',
        title: '修改时间',
        formatter: function (value, row, index) {
            return formatDate(row.editTime);
        }
    }, {
        title: '操作',
        formatter: function (value, row, index) {
            var id = row.dId;
            return '<a class="btn btn-xs btn-warning" onclick="editDepot(' + "'" + id + "'" + ')"><i class="fa fa-pencil"></i>编辑</a> '
                    +'<a class="btn btn-xs btn-warning" onclick="receive(' + "'" + id + "'" + ')"><i class="fa fa-pencil"></i>领取</a>'
                <!-- 此处按钮级别权限控制，目前只有 admin 拥有该权限！ -->
                + '<a class="btn btn-xs btn-danger" onclick="delDepot(' + "'" + id + "'" + ')"><i class="fa fa-remove"></i>删除</a>'
                ;
        }
    }
    ];
    function dataQueryParams(params) {
        return {
            _size: params.limit,  //页面大小
            _index: params.offset, //页码
        };
    }

    function delDepot(id) {
        //询问框
        layer.confirm('确定删除吗？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            $.ajax({
                type: "POST",
                url: "#springUrl('/depot/delDepot/')" + id,
                datatype: "text",
                success: function (data) {
                    if(data == 'true'){
                        $('#dataTable').bootstrapTable('refresh',{url:dataUrl});
                    }
                    layer.closeAll();
                }
            });
        }, function () {
            return;
        });
    }

    function receive(id) {
        var title = "领取设备";
        var url = "#springUrl('/depot/receive.html')";
        url = url + "?deviceId=" + id;
        layer.open({
            type: 2,
            title: title,
            shadeClose: true,
            shade: 0.8,
            area: ['600px', '430px'],
            fix: false,
            maxmin: true,
            content: url
        });
    }

    function Search(){

        var word=$("#word").val();

        var opt1 = {
            url: "#springUrl('/depot/getDepotListWord.html?word="+word+"')"
        };
        $("#dataTable").bootstrapTable('refresh', opt1);
    }

    function editDepot(id){
        var title = "新增设备";
        var url = "#springUrl('/depot/edit.html')";
        if(id!=null){
            title = "编辑设备";
            url = url + "?deviceId=" + id;
        }
        layer.open({
            type: 2,
            title: title,
            shadeClose: true,
            shade: 0.8,
            area: ['600px', '430px'],
            fix: false,
            maxmin: true,
            content: url
        });
    }
</script>
#end
#extends("/common/framework.html")
